@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
    --Light-purple:hsl(281, 58%, 47%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", serif;
    cursor: default;
}

html{
    font-size: 62.5%;
}

body{
    min-height: 100dvh;
    background-color: var(--Light-pink);
    position: relative;
}

p{
    font-size: 1.6rem;
    font-weight: 500;
}

a{
    text-decoration: none;
}

hr{
    margin: 1.5rem 0;
    border: solid 0.09rem var(--Light-pink);
}

.background-top{
    background-image: url(../images/background-pattern-desktop.svg);
    width: 100%;
    height: 30rem;
}

.container{
    width: 55rem;
    background-color: var(--White);
    position: absolute;
    padding: 3rem;
    border-radius: 1rem;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    box-shadow: rgba(100, 100, 111, 0.2) 0 0.7rem 2.9rem 0;
}

.container .title{
    display: flex;
    margin-bottom: 3rem;
}

.container h1{
    font-size: 5rem;
    padding-left: 2rem;
}

.bloc-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bloc-input label{
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
}

.bloc-input label:hover{
    color: var(--Light-purple);
}

.bloc-input .checkbox{
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../images/icon-plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.bloc-input .checkbox:checked{
    transform: rotate(-180deg);
    background-image: url(../images/icon-minus.svg);
}

.text-color{
    color: var(--Grayish-purple);
    margin-top: 2rem;
    display: none;
}

.checkbox:checked + .text-color{
    display: block;
}

.style-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.style-content .label-checkbox{
    margin: 1.5rem 0;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
}

.style-content .label-checkbox:hover{
    color: var(--Light-purple);
}

.style-content .checkbox{
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../images/icon-plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 250ms ease-in-out;
}

.style-content .checkbox:checked{
    transform: rotate(-180deg);
    background-image: url(../images/icon-minus.svg);
}

.style-content .text-checkbox{
    color: var(--Grayish-purple);
    height: 0;
    overflow: hidden;
    transition: all 250ms ease-in-out;
}

.style-content .checkbox:checked + .text-checkbox{
    height: 8rem;
}

.attribution{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);
}

.attribution p{
    font-size: 1rem;
    color: var(--Dark-purple);
}

.attribution p a{
    color: var(--Dark-purple);
    cursor: pointer;
}

.attribution p a:hover{
    color: var(--Light-purple);
}